@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

input:focus ~ span,
textarea:focus ~ span,
input:valid ~ span,
textarea:valid ~ span {
  top: 0;
  left: 0;
  transform: translateY(-50%);
  color: #1abc9c;
  font-size: 0.8rem;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  top: 0;
  left: 0;
  transform: translateY(-50%);
  color: #1abc9c;
  font-size: 0.8rem;
}
